<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles.css" type ="text/css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  {{!-- <link rel="preconnect" href="https://fonts.gstatic.com"> --}}
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

  <title>Varbook</title>
</head>
<body>
  <header>
    <h1>DEVBOOK</h1>
  </header>
  <h2>{{title}}</h2>

  {{{body}}}

  <footer>
    <div class="footer">
      <p>© Team Var -- Anna | Pete | Kenneth | Clinton | Christo</p>
    </div>
  </footer>
 
</body>
</html>