{{!-- title --}}


<form method="POST" action="/user/{{id}}/edit">
<ul>
{{!-- name --}}
<li>
  <label for="name">
    Name:
    <input type="text" name="name">
  </label>
</li>


{{!-- Birthday () --}}
<li>
  <label for="birthday">
    Birthday (month + date)
    <input type="text" name="birthday">
  </label>
</li>


{{!-- bio --}}
<li>
  <label for="bio">
    Short but quirky bio:
    <input type="text" name="bio">
  </label>
</li>

</ul>

<button>SUBMIT!</button>
</form>