  
<div class="homeContainer">
  {{#each users}}
  <div class="profilePicHome">
    <a href="/user/{{id}}">
         <figure class ="polaroid" >
          <img src="{{img}}" alt="Profile Photo" class="profileImg">
        <figcaption class ="name">{{name}}</figcaption>
      </figure>
    </a>
  </div>
  {{/each}}
</div>


