  
<div class="container">
  {{#each puppies}}
  <div class="puppy-list">
    <a href="/user/{{id}}">
        <div class ="polaroid" >
            <img src="{{img}}" alt="{{name}}" class="profileImg">
        </div>
    </a>
  </div>
  {{/each}}
</div>


