{{!-- TITLE --}}


{{!-- image --}}

{{!-- name --}}
{{!-- bday --}}
{{!-- bio --}}

<div>
<img src="{{img}}" width="150px" height="150px">
</div>

<div>
{{name}}
</div>

<div>
{{birthday}}
</div>

<div>
{{bio}}
</div>

 


<p> this is where the users profile will be shown</p>