
/* 
#eff7e1

# #*/
:root{
  --yellow: #f8dc81;
  --pale-green: #dfecca;
  --green:  #76ac9a;
  --dark-blue: #214151;

}
body {
  /* background-color: var(--dark-blue) */
  font-family: 'Anton', sans-serif;
  letter-spacing: 5px;
  text-align: center;
 
}

header {
  padding: 15px;
  text-align: center;
   background: var(--green);
  color: var(--yellow);
  font-size: 30px;
  width: 100%;
}

.polaroid {
  background-color: #ffffff
  /* display: inline-block; */
  margin: 55px 75px 30px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
  width: 300px;
  display: block;
  margin: 0 auto;
}

.polaroid img {
  display: block;
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

figcaption.name {
  padding-top: 25px;
  font-family: 'Indie Flower', sans-serif;
  font-size: 40px;
  color: white';
}

ul.profile-info {
  list-style-type: none; 
  font-family: 'Indie Flower', sans-serif;
  font-size: 30px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.homeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--green);
  color: var(--yellow);
  text-align: center;
}


.profilePicHome {
  margin: 20px;
}